@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
 
html {
    font-family: "Montserrat";
}

#logoutButton, #btnAdd, #btnDelete {
    background-color: #1c1c1c;
    color: snow;
    float: right;
    margin: 10px;
    border-radius: 2px;
    height: 25px;
    line-height: 225%;
    font-size: 11px;
    box-shadow: 0 5px 5px -4px #333;
}

#btnAdd {
    margin-right: 2px;
    float: left;
    background-color: darkgreen;
}

#btnDelete {
    float: left;
    background-color: darkred
}



table {
    position: relative;
    width: 80%;
    margin: 0 auto;
    top: 50px;
}


#tableDetails {
    height: 20px;
}

.tableData {
    width: 120px;
}