@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
 
html {
    font-family: "Montserrat";
}

.navButtons {
    background-color: #1c1c1c;
    color: snow;
    float: right;
    margin: 10px;
    border-radius: 2px;
    height: 25px;
    line-height: 225%;
    font-size: 11px;
    box-shadow: 0 5px 5px -4px #333;
}

#btnAdd {
    margin-right: 2px;
    float: left;
    background-color: darkgreen;
}

#btnDelete {
    float: left;
    background-color: darkred
}



table {
    position: relative;
    width: 80%;
    margin: 0 auto;
    top: 50px;
}


#tableDetails {
    height: 20px;
}

.tableData {
    width: 120px;
}



/* others below */

#newData, #updateData{
    width: 600px;
    height: 80%;
}

.transactDataHead {
    background-color: #006f4a;
    color: snow;
    height: 30px;
    text-align: center;
    line-height: 200%;
}

.transactDataWrap {
    margin: 0 auto;
    width: 550px;
    padding: 10px;
    height: 90%;
}

.createPostForm{
	height: 90%;
}

.ltags {
    font-size: 13px;
    color: #006f4a;
    font-weight: 500;
}

.inputTransactData{
    width: 97.5%;
    color: black;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.3);
    padding-left: 3px;
    font-size: 12px;
	height: 10%;
}

.transactButtonSubmit{
    margin-top: -15px;
    background-color: #006f4a;
    color: snow;
    line-height: 250%;
    height: 30px;
    float: right;
    font-size: 11px;
    font-weight: 500;
    box-shadow: 0 5px 5px -6px #333;
    border-style: solid;
    border-width: 0.6px;
    border-radius: 2px;
    border-color: dimgrey;
    
}
